.rules-list__item {
  padding: 4px 0;
}

.rules-list__item__content {
  display: flex;
  align-items: center;
}

.key {
  padding: 4px 8px;
  margin: 0 6px;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: solid 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
