.screen {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 32px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
